.images-wrap{
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.images-wrap:hover img{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}

.images-wrap:hover img:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}

body {
  background-color: black;
}

